/*.film {
    display:inline-block;  yer kaplamaları ayarlar
    border: 3px solid #E73636; cervece
    margin-bottom: 10px; div e alttan boşluk bıraktık ( dis nesne arasi bosluk)
    padding: 10px;   div in içeriginde boşluk(ic nesne arasi boslük)
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   yazi sekli
}  
*/